# Ignore node_modules folder (thư mục chứa các thư viện của Node.js)
node_modules/

# Ignore log files
*.log

# Ignore môi trường phát triển (đặc biệt cho IDE)
.idea/
.vscode/

# Ignore các file hệ thống của macOS
.DS_Store

# Ignore thư mục build trong các dự án Java
/build/

# Ignore các file nhạy cảm như keys, passwords
*.pem
*.key
.env

# Ignore các thư mục và file tạm thời
*.tmp
*.bak

# Ignore các file liên quan đến Python (ví dụ: bytecode, virtualenv)
__pycache__/
*.pyc
*.pyo
venv/

# Ignore môi trường Docker
docker-compose.override.yml
Dockerfile*
